<header class="header-section">
    <img src="../../assets/logo.png" alt="" class="logo">
    <div class="menus">
        <h3>Home</h3>
        <h3>Instructions</h3>
        <h3>Train A Model</h3>
        <h3>Contact</h3>
    </div>
    <div class="socials">
        <span class="icon mdi mdi-github"></span>
        <span class="icon mdi mdi-instagram"></span>
        <span class="icon mdi mdi-facebook"></span>
    </div>
</header>
<section class="home-section">
    <div class="banner">
        <h1>WELCOME</h1>
        <particles [params]="myParams"></particles>
        <h3>Enter a dataset to create a model</h3>
    </div>
</section>
<section class="started-section">
    <h1>Instructions</h1>
    <div class="cards" style="grid-template-columns: 1fr 1fr 1fr;">
        <div class="card">
            <h3>Upload Your Data</h3>
            <div class="content">
                <p>Go to the Train A Model section, You shall have the option to manually type in your datapoints or
                    upload a csv file!</p>
            </div>
            <div class="image">
                <img src="../../assets/undraw_uploading_go67.svg" alt="">
            </div>
        </div>
        <div class="card">
            <h3>Train the Model</h3>
            <div class="content">
                <p>The model shall get trained in our servers with yout data, It may take some time !!</p>
            </div>
            <div class="image">
                <img src="../../assets/undraw_hacker_mind_6y85.svg" alt="">
            </div>
        </div>
        <div class="card">
            <h3>Get your predictions</h3>
            <div class="content">
                <p>After the model has finished training on your data it shall return back its predictions</p>
            </div>
            <div class="image">
                <img src="../../assets/undraw_predictive_analytics_kf9n.svg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="upload-section">
    <h1>Train A Model</h1>
    <div class="cards" style="grid-template-columns: 1fr 1fr;">
        <div class="card">
            <h3>Upload A CSV File</h3>
            <div class="content">
                <p>Click on The upload button to Upload a CSV file, Ensure data is in proper format</p>
            </div>
            <div class="content"></div>
            <div class="content">
                <div class="btn" style="border-color: black; width:50%; margin:auto;"><span
                        style="font-family: 'Roboto Mono', monospace; font-size:24px; ">Upload</span></div>
            </div>
        </div>
        <div class="card">
            <h3>Manually Input Data</h3>
            <div class="content">
                <p>Click on the input button to manually inpu all your data points. You can easily upload large data
                    sets in CSV files</p>
            </div>
            <div class="content"></div>
            <div class="content">
                <div class="btn" style="border-color: black; width:50%; margin:auto;"><span
                        style="font-family: 'Roboto Mono', monospace; font-size:24px; ">Input</span></div>
            </div>
        </div>
    </div>
</section>
<section class="contact-section">
    <h1>Contact Us!</h1>
    <div class="cards">
        <div class="card" style="width: 50%; margin:auto">
            <h3>Glad you want to reach out!</h3>
            <div class="content">
                <p>You can easily reach out to us through the following channels.
                    We are looking forward to hearng you !!
                </p>
            </div>
            <div class="content">
                <div class="socials" style="justify-content:center;">
                    <span class="icon mdi mdi-github" style="color: black;"></span>
                    <span class="icon mdi mdi-instagram" style="color: black;"></span>
                    <span class="icon mdi mdi-facebook" style="color: black;"></span>
                </div>
            </div>
        </div>
    </div>
</section>